build/
Tests/__pycache__/
Tests/supportModules/__pycache__/
Tests/testModules/__pycache__/
Tests/exec/
Tests/BasicDaemon/BasicDaemon
Tests/BasicParent/BasicParent
Tests/tempLog.txt
Tests/failureLog.txt
